* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*html { */
:root {
    font-size: 15px;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid red;
}

p {
    /* 1rem means root */
    font-size:  1rem;
    margin: 1rem 0;
}

h1 {
    font-size: 2rem;
    padding: 0.3rem;
}

ul {
    /* rem based on root */
    /* em based on immed. father */
    font-size: 1.5rem;
}